name: Windows build

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    linux:
        name: Windows Py${{ matrix.PYTHON_VERSION }}
        runs-on: windows-latest
        env:
            PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
            RUNNER_OS: "windows"
        strategy:
            fail-fast: false
            matrix:
                PYTHON_VERSION: ["3.5", "3.6", "3.7", "3.8"]
        steps:
            - name: Checkout branch
              uses: actions/checkout@v1
            - name: Install latest Rust nightly
              uses: actions-rs/toolchain@v1
              with:
                toolchain: nightly
                override: true
                components: rustfmt, clippy
            - name: Print Rust version
              shell: bash -l {0}
              run: rustc --version
            - name: Install LLVM
              shell: bash -l {0}
              run: |
                curl -fsSL -o LLVM9.exe https://releases.llvm.org/9.0.0/LLVM-9.0.0-win64.exe
                7z x LLVM9.exe -y -o"C:/Program Files/LLVM"
            - name: Install Conda
              uses: goanpeca/setup-miniconda@v1
              with:
                activate-environment: test
                auto-update-conda: true
                auto-activate-base: false
                python-version: ${{ matrix.PYTHON_VERSION }}
            - name: Conda env info
              shell: bash -l {0}
              run: conda env list
            - name: Install build/test dependencies
              shell: bash -l {0}
              run: pip install maturin toml pytest
            - name: Build pysyntect
              shell: bash -l {0}
              run: maturin build -i $(which python)
            - name: Decompress wheel to extract compiled binary
              shell: bash -l {0}
              run: |
                cd target/wheels
                unzip *.whl
                find . -type f -name "*.pyd" | xargs mv -t ../../syntect
            # - name: Install pysyntect locally
            #   shell: bash -l {0}
            #   run: pip install target/wheels/*.whl
            - name: Run tests
              shell: bash -l {0}
              run: pytest -v -x syntect/tests
